[phases.setup]
nixPkgs = ["nodejs-20_x", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = [
  "cd apps/backend",
  "node scripts/setup-prisma.js",
  "prisma generate",
  "prisma migrate deploy",
  "tsc"
]

[start]
cmd = "cd apps/backend && node dist/server.js"

