[phases.setup]
nixPkgs = ["nodejs-18_x", "pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm --filter @side-project/backend build"]

[start]
cmd = "cd apps/backend && node dist/server.js"

